@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/Assets/stars-sparkle.gif") no-repeat;
    background-size: 500%;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login img#foguete {
    height: 80vh;
    width: 80vw;
}

.left-login h1 {
    color: rgb(81, 15, 142);
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    backdrop-filter: blur( 7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 10px 40px rgba( 31, 38, 135, .37);
}

.card-login h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(81, 15, 142);
    font-weight: 800;
    margin: 0;
}

.textfield {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.303);
    color: cornsilk;
    font-size: 12pt;
    box-shadow: 0 3px 40px rgba( 31, 38, 135, .10);
    box-sizing: border-box;
}

.textfield label {
    color: cornsilk;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: #f0ffff94;
}

.textfield img {
    position: absolute;
    top: 53.5%;
    right: 23px;
    color: rgba(255, 255, 255, 0.303);
    height: 35px;
    width: 35px;
    transform: translate(-50%);
    cursor: pointer;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #e4e2f6;
    background: rgb(141, 197, 235);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #140b58;
    transition: background-color 1s;
}

.btn-login:hover {
    background-color: lightseagreen;
}

.textfield span {
    position: absolute;
    top: 53.5%;
    right: 23px;
    color: rgba(255, 255, 255, 0.303);
    height: 35px;
    width: 35px;
    transform: translate(-50%);
    cursor: pointer;
}

.textfield input:valid~span {
    display: block;
}

.textfield span i.hide-btn::before {
    content: "\f070";
}